<h2><%=current_user.username%>'s Profile</h2>

<h1>Surveys you created:</h1>
<ul>
<% @user.surveys.each do |survey|%>
  <li><a href="/surveys/<%=survey.id%>"><%=survey.title%></a></li>
<% end %>
</ul>

<h1>Take a Survey below:</h1>
<ul>
<% Survey.all.each do |survey|%>
  <li><a href="/surveys/<%=survey.id%>/questions/<%=survey.first_question_id(survey.id)%>"><%=survey.title%></a></li>
<% end %>
</ul>
